<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Democracy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css'/>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"><a class="navbar-brand" href="/">Democracy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="/posts/add">Add Posts <span class="sr-only">(current)</span></a></li>
                <li class="nav-item active"><a class="nav-link" href="/polls">Polls</a></li>
                <li class="nav-item active"><a class="nav-link" href="/profiles">Your Leaders</a></li>
                <li class="nav-item active"><a class="nav-link" href="/users/login">Login</a></li>
                <li class="nav-item active"><a class="nav-link" href="/users/register">Register</a></li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"/>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <br><br><br><br>
    {{ errors }}
    
    <form method="POST",action='/users/register'>
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email">
      </div>
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password">
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" name="password2">
      </div>
      <input class="btn btn-primary" type="submit" value="Submit"/>
    </form>

    <script src='/bower_components/jquery/dist/jquery.js'></script>
    <script src='/bower_components/bootstrap/dist/js/bootstrap.js'></script>
    <script src='/js/main.js'></script>
</body>
</html>
